body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c1beb0;
}

h1{
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #37310f ;
	color: wheat ;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}