body {
	font-family: 'Nunito Sans', sans-serif;
	  margin: 0;
	  padding: 0;
	background-color: #c1beb0;
}
*{
	font-family: 'Nunito Sans', sans-serif;
}

h1{
	padding-top: 10px;
	text-align: center;
	color:#37310f;
}
h2{
	text-align: center;
	color:#37310f;
}
h3{
	text-align: center;
	color:darkslategrey;
}

  
.active {
	background-color:#34340c; /* Add an active/current color */
}


table{
	margin-top: 80px;
	margin-left: 500px;
}
th, td {
	padding: 15px;
	text-align: center;
	border: 2px solid black;
	border-collapse: collapse;
}

.atual{
	margin-top: 5px;
	margin-left: 720px;
}

